<!DOCTYPE html>
<html>
    <head>
        <title>Result</title>
    </head>
    <body>
        <h3>{{Group_link}} {{count}}</h3>
        {% for ps in post %}
        <p>{{ps}}</p>
        {% endfor %}
        {% for item in res %}
        <p>Result {{item}}</p>
        {% endfor %}
    </body>
</html>